#img-bg{
    background-image: url("https://i.imgur.com/ZrEMhgh.jpg");

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-coluna{
    background-image: linear-gradient(to top, #ffdbe5 0%, #fbc2eb 45%);
}

.text-color-size{
    font-size: 30pt;
    color: rgb(109, 8, 109);
}

.text-color{
    font-size: 14pt;
    color: rgb(109, 8, 109);
}

button{
    color: white;
    background-color: rgb(85, 76, 85);
}
